*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}
body{
    background-color: #000;
}
.container{
    max-width: 100%;
    width: 85%;
    margin: 0 auto;
}
.header-text{
    font-family: Poppins;
    font-weight: 600;
    font-size: 24px;
    line-height: 24px;
    letter-spacing: 0%;
    vertical-align: middle;
    color: #fff;
    margin: auto 0;
}
.header-wrapper{
    display: flex;
    justify-content: space-between;
    padding: 20px;
}
.tanlash{
    background-color: #000;
    color: #fff;
    text-align: center;
    border: none;
}
#select{
    width: 100px;
    background-color: rgba(240, 248, 255, 0);
    margin: auto 0;
    color: #fff; 
    border: none;
}
.header-text-select{
    display: flex;
    gap: 30px;
}
.tanlash:hover{
    background-color: #BFAFF2;
    color: #000;
}
.kirish{
    width: 175px;
    padding: 10px 0;
    border-radius: 10px;
    background-color: #BFAFF2;
    font-family: Poppins;
font-weight: 400;
font-style: Regular;
font-size: 18px;
line-height: 32px;
letter-spacing: 0%;
text-align: center;
margin: auto 0;

}
.header-text{
    font-family: Poppins;
    font-weight: 600;
    font-size: 24px;
    line-height: 24px;
    letter-spacing: 0%;
    vertical-align: middle;
    
}
.header-button-reg{
    display: flex;
    align-items: center;
    gap: 50px;
}
.register{
    font-family: Poppins;
    font-weight: 400;
    font-style: Regular;
    font-size: 18px;
    line-height: 32px;
    letter-spacing: 0%;
    text-align: right;
    color: #fff;
}
.card{
    width: 325px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}
.header{
    padding-bottom: 400px;
}
.main-wrapper{
    display: flex;
    gap: 20px;
}
.main-theme{
    color: #fff;
    font-family: Outfit;
    font-weight: 400;
    font-style: Regular;
    font-size: 32px;
    line-height: 120%;
    letter-spacing: 0%;
    text-align: center;
    
}
.main-text{
    font-family: Outfit;
    font-weight: 400;
    font-style: Regular;
    font-size: 14px;
    line-height: 120%;
    letter-spacing: 0%;
    text-align: center;
    color: #fff;    
}
.main-textt{
    padding: 59px 16px 33px 16px;
    background-color: #232028;
    border-radius: 20px;
}
.main-position{
    position: absolute;
    top: -270px;
    animation: gojo 2s ease-in-out infinite;
}
@keyframes gojo {
    0%{
        top: -270px;
    }
    50%{
        top: -330px;
    }
    100%{
        top: -270px;
    }
}

.main-positionn{
    position: absolute;
    top: -270px;
    animation: gojo 2s ease-in-out infinite;
}

.main-positionn{
    animation-delay: 0s;
}
.main-position{
    animation-delay: 1s;
}
@keyframes gojo {
    0%{
        top: -270px;
    }
    50%{
        top: -330px;
    }
    100%{
        top: -270px;
    }
}
.footer-text{
    font-family: Poppins;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    vertical-align: middle;
    color: #fff;
}
.footer-wrapper{
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
}
.footer-list{
    display: flex;
    gap: 40px;
}
.link{
    color: #fff;
}
.footer{
    margin-top: 100px;
}